{% extends 'teacher/base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Log in{% endblock %}

{% block content %}

<p>
    You are logging in as a teacher.
    <a href="{{ url_for('student.login') }}">
        Click here to log in as a student.
    </a>
</p>

<form method="POST" action="{{ url_for('teacher.login') }}">
    {{ form.hidden_tag() }}

    {{ macros.text_field(form.username) }}
    {{ macros.text_field(form.password) }}
    {{ macros.checkbox(form.remember) }}

    <input type="submit" class="button is-primary" value="Log in">
</form>
{% endblock %}
