<form method="POST" action="{{ url_for('student.register') }}">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {% if form.username.errors %}
        {% for e in form.username.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    {% endif %}
    {{ form.username() }}

    {{ form.password.label }}
    {% if form.password.errors %}
        {% for e in form.password.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    {% endif %}
    {{ form.password() }}

    {{ form.confirm.label }}
    {% if form.confirm.errors %}
        {% for e in form.confirm.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    {% endif %}
    {{ form.confirm() }}

    <input type="submit" value="Register">
</form>
